* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
html,
body {
  color: rgb(146, 236, 121);
  font-family: Lato, sans-serif;
  background-color: rgb(176, 240, 219);
  background-size: cover;
}

.logo {
  width: 8vw;
  min-width: 90px;
}

.App-tareas {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  height: 100%;
}
.lista-tareas {
  width: 600px;
  min-height: 500px;
  background-color: rgb(48, 101, 132);
  padding: 25px;
  margin: 10px;
  text-align: center;
  border-radius: 25px;
}
